.item-image {
  width: 60px;
  height: 40px;
  border-radius: 5px;
  border: 3px solid white;
}
.category-hover:hover {
  transform: translateY(-2px);
  transition: translate 0.1s ase;
  box-shadow: 0 10px 8px rgb(100, 182, 48);
}