.receipt-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.receipt-popup {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  width: 500px;
  max-width: 100%;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
  max-height: 90vh;
  overflow-y: auto;
}

.cart-items-scrollable {
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 3px;
}

.receipt-popup .btn {
  padding: 8px 16px;
  font-size: 16px;
}

.animated-check {
  display: inline-block;
  color: green; /* matches text-success */
  font-size: 2rem; /* adjust size if needed */
  transform: scale(0);
  opacity: 0;
  animation: popIn 2s ease-out forwards;
}

@keyframes popIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
