.cate-image {
  width: 60px;
  height: 40px;
  border-radius: 5px;
  border: 3px solid white;
}
.category-hover:hover {
  transform: translate(-2px);
  transition: translate 0.1s ase;
  box-shadow: 0 10px 8px rgb(100, 182, 48);
}
.active-category {
  position: relative;
  right: 84px;
  top: -54px;
  transform: translate(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: black;
  border: 1px solid white;
}
